{% extends "admin/base.html" %}

{% block title %}Gestionar Categorias{% endblock %}

{% block content %}
<div>
    <h1>Gestionar Categorias</h1>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Estado</th>

                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for ct in lstcategorias %}
            <tr>
                <th>{{ct.id}}</th>
                <th>{{ct.nombre}}</th>
                <th>{{ct.estado}}</th>

                <th><a href="#"><i class="fa fa-edit"></i></a></th>
                <th><a class="alert" href="#"><i class="fa fa-trash"></i></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button class="pure-button pure-button-secondary" action="" method="get">Retroceder</button>
    <a type="button" class="pure-button pure-button-primary" href="{% url 'registrar' %}" method="get">¿Deseas registrar una categoría?</a>
    
</div>

{% endblock%}