{% extends "admin/base.html" %}

{% block title %}Actualizar Producto{% endblock %}

{% block content %}
<h1>Actualizar Producto</h1>
<div class="cnt1" style="max-width: 750px;">
<form class="pure-form" enctype="multipart/form-data" action="/actualizar_producto/" method="POST">{% csrf_token %}
    <fieldset>
        
        <div>
            <label>Codigo:</label><br>
            <input id="id" name="id" class="pure-input pure-input-2-1" type="text" value="{{p.id}}" readonly>
        </div>

        <div class="pure-u-1-3">
            <label>Nombre:</label><br>
            <input id="nombre" name="nombre" class="pure-input pure-input-2-1" type="text" value="{{p.nombre}}" required="">

            <!--<div>
            <label>Categoría:</label><br>
            <select id="categoria" name="categoria">
                <option value="0">Seleccionar</option>
                {% for ct in cbxcat %}
                <option value="{{ct.id}}">{{ct.nombre}}</option>
                {% endfor %}
            </select>
            </div>-->

            <div>
                <label>Precio:</label><br>
                <input id="precio" name="precio" class="pure-input-2-1" type="number" step="0.01" value="{{p.precio}}" required="">
            </div>
        </div>

        <div class="pure-u-1-3">
            <label>Foto:</label><br>
            <img id="blah" src="#" style="width: 200px; background-color:#e2e2e2"/>
            <br><br>
            <input class="pure-input-1-1" accept="image/*" type='file' id="foto" name="foto" value="{{p.foto}}"/>
        </div>

        
        <div>
            <label>Descripción:</label><br>
            <textarea rows="5" cols="55" id="descripcion" name="descripcion">{{p.descripcion}}</textarea>
        </div>
        

    </fieldset>

    <button class="pure-button pure-button-primary">Grabar</button>
    
</form>
</div>

<script>
    foto.onchange = evt => {
        const [file] = foto.files
        if (file) {
          blah.src = URL.createObjectURL(file)
        }
    }
</script>
{% endblock%}