<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ordenes</title>
</head>

<body>

    <section>
        <div class="frmordenes">
                <h2>Lista de clientes de hoy</h2><hr>
                
                <table class="pure-table pure-table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>DNI</th>
                            <th>Mesa</th>
           
                            <th>Editar</th>
                            <th>Eliminar</th>
                    </thead>
                    <tbody>
                        {% for mc in lstmc %}
                        <tr>
                            <th>{{mc.fecha}} {{mc.hora}}</th>
                            <th>{{mc.mesa_cliente.cliente.nombre}}</th>
                            <th>{{mc.mesa_cliente.cliente.dni}}</th>
                            <th>{{mc.mesa_cliente.mesa.numero}}</th>
                            
                            <th><a href="#"><i class="fa fa-edit"></i></a></th>
                            <th><a class="alert" href="#"><i class="fa fa-trash"></i></a></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
        </div><hr>

        <div>
            <a type="button" class="pure-button pure-button-primary" href="{% url 'registrar_cl' %}" method="GET">Registrar Cliente</a>
            <a type="button" class="pure-button pure-button-secondary" href="{% url 'ordenes' %}" method="GET">Volver a registrar orden</a>
        </div>
    </section>
</body>

<!--<script>
function Sumar(){
    let total = 0;
    let valores = document.querySelectorAll("productos");

    valores.forEach(function(checkbox){
        if (checkbox.checked){
            total += parseFloat(checkbox.value);
        }
    });
    
    document.getElementById("total").value = total.toFixed(2);
}
</script>-->

</html>