<html xmlns="http://www.w3.org/1999/xhtml"></html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="/../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
<h1>Gestionar Empleados</h1>

    <section class="sctadmin">
        <div class="pure-u-md-2 scttabla">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Usuario</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>8:45 pm</th>
                        <th>Creep</th>
                        <th>Radiohead</th>
                        <th>Karaoke</th>
                        <th>John - 77082174</th>
                        <th></th>
                        <th></th>
                        <th><a href="#">Ir</a></th>
                        <th><a class="alert" href="#">Ir</a></th>
                    </tr>
                </tbody>
            </table>

            <button class="pure-button pure-button-secondary" action="" method="get">Retroceder</button>
            <button class="pure-button pure-button-primary">Registrar nuevo Empleado</button>
            
        </div>

        
        </div>
    </section>
</div>