{% extends "base.html" %}

{% block title %}Gestionar Productos{% endblock %}

{% block content %}
    <div>
        <h1>Gestionar Productos</h1>
        <a href="{% url 'categorias' %}">Gestionar sus categorías</a>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Estado</th>

                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for p in lstproductos %}
                <tr>
                    <th>{{p.id}}</th>
                    <th>{{p.nombre}}</th>
                    <th>{{p.categoria.nombre}}</th>
                    <th>S/{{p.precio}}</th>
                    <th>{{p.descripcion}}</th>
                    {% if p.foto %}
                        <th><img src="{{ p.foto.url }}" width="120" /></th>
                    {% else %}
                        <th><p>No hay imagen</p></th>
                    {% endif %}
                    <th>{{p.estado}}</th>
                    <th><a href="{% url 'editar_pr' p.id %}" method="GET"><i class="fa fa-edit"></i></a></th>
                    <th><a class="alert" href="{% url 'eliminar_pr' p.id %}" method="GET"><i class="fa fa-trash"></i></a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="pure-button pure-button-secondary" action="" method="get">Retroceder</button>
        <a type="button" class="pure-button pure-button-primary" href="{% url 'registrar_pr' %}" method="GET">Registrar nuevo Producto</a>
        
    </div>
{% endblock %}
