html{
    background-color: rgb(240, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

h1, h2{
    text-align: center;
    margin: 30px;
}

.cnt1{ 
    background-color: #aaaaaa;
    max-width: 500px;
    margin: 0 auto;
    padding: 3%;
    border-radius: 10px;
}

.frmdj{
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    width: 380px;
}

.frm_canciones{
    padding: 0%;
}

.ctd{
    margin-top: 30px;
}

.crd{
    background-color: rgb(18, 23, 95);
    border-radius: 8px;
    margin: 10px;
    color: white;
    border-style: solid;
}

.sctadmin{
    background-color: white;
}

.scttabla {
    padding: 20px;
}

.scttabla .pure-table{
    margin: 0 auto;
}

div .pure-table{
    margin: 0 auto;
    background-color: brown;
}

tbody{
    background-color: white;
}

.alert{
    color: red;
}

section{
    background-color: rgb(64, 147, 224);
    margin: 0 auto;
    width: 90%;
    padding: 2%;
}

input, select{
    margin-bottom: 20px;
}

.pure-table td, 
.pure-table th {
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #4e4e4e;
}

/* MODAL/VENTANA EMERGENTE */
.button-error{
    background-color:red;
    color: white;
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.ventana-modal{
    background-color: white;
    width: 600px;
    padding: 1% 2% 2% 2%;
    margin: 0 auto;
}

.borrar{
    background-color: red;
    color: white;
}

