<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Iniciar sesión</title>
    </head>


<h1>Iniciar sesión</h1>
    <div class="cnt1">
        <form class="pure-form" action="admin/administracion.html" method="get">{% csrf_token %}
            <fieldset>
                <input class="pure-input-2-3" type="text" placeholder="Nombre de usuario" required=""><br><br>
                
                <input class="pure-input-2-3" type="password" placeholder="Contraseña" required="">

            </fieldset>

            <button class="pure-button pure-button-primary">Continuar</button><br>
            
        </form>
        <a href="contraseña.html" method="get">¿Olvido su contraseña?</a>
    </div>

</html>