<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Dj</title>
    </head>

<div>
    <h1>Lista de canciones</h1>

    <section>
        <div>
            <div class="pure-u-2-3 frmdj">
                <h2>Registrar nueva canción</h2><hr>

                <form class="pure-form" action="/grabar_orden_cancion/" method="POST">{% csrf_token %}
                    <fieldset>
                        
                        <div>
                            {{frmoc.cancion}}
                        </div>

                        <div>
                            {{frmoc.mesa_cliente}}
                        </div>

                        <div><button class="pure-button pure-button-primary">Guardar</button></div>
                    </fieldset>
                </form>

            </div>

        <div class="pure-u-1-3 frm_canciones" style="min-width: 800px;">
            <br>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Se registró en:</th>
                        <th>Canción</th>
                        <th>Artista</th>
                        <th>Pedida por:</th>
                        <th>Estado</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oc in lstoc %}
                    <tr>
                        <th>{{oc.fecha}} - {{oc.hora}}</th>
                        <th>{{oc.cancion.nombre}}</th>
                        <th>{{oc.cancion.artista}}</th>
                        <th>{{oc.mesa_cliente}}</th>
                        <th>{{oc.estado}}</th>
                        <th><a href="{% url 'eliminar_oc' oc.id %}" class="alert" method="GET">¿ya se reprodució?</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
        </div>
    </section>
    </div>
</html>