<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Dj</title>
    </head>

<div>
    <h1>Lista de canciones</h1>

    <section>
        <div>
            <div class="pure-u-2-3 frmdj">
                <h2>Registrar nueva canción</h2><hr>

                <form class="pure-form" action="/grabarCancion/" method="POST">{% csrf_token %}
                    <fieldset>
                        <input id="nombre" name="nombre" class="pure-input-2-3" type="text" placeholder="Nombre de la canción" required=""><br><br>
                        
                        <input id="artista" name="artista" class="pure-input-1-3" type="text" placeholder="Artista" required="">
                        <select id="modo" name="modo">
                            <option value="0">Seleccionar modo</option>
                            <option value="letra">Letra</option>
                            <option value="karaoke">Karaoke</option>
                        </select>
                        
                        <select id="mesa" name="mesa">
                            <option value="0">Pedida por</option>
                            {% for mesa in lstmesas %}
                            <option value="{{mesa.id}}">Mesa {{mesa.numero}}</option>
                            {% endfor %}
                        </select>
                        
                        <button class="pure-button pure-button-primary">Guardar</button>
                    </fieldset>
                </form>

            </div>

        <div class="pure-u-2-3 frm_canciones">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Se registró en:</th>
                        <th>Canción</th>
                        <th>Artista</th>
                        <th>Modo</th>
                        <th>Pedida por:</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ca in lstcanciones %}
                    <tr>
                        <th>{{ca.fecha}}</th>
                        <th>{{ca.nombre}}</th>
                        <th>{{ca.artista}}</th>
                        <th>{{ca.modo}}</th>
                        <th>{{ca.mesa.numero}}</th>
                        <th>{{ca.estado}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
        </div>
    </section>
    </div>
</html>